/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/5.2.1/javaCompile/classAnalysis.bin
/.gradle/5.2.1/executionHistory/executionHistory.bin
/.gradle/5.6.4/executionHistory/executionHistory.bin
/.gradle/5.2.1/executionHistory/executionHistory.lock
/.gradle/5.6.4/executionHistory/executionHistory.lock
/.gradle/5.2.1/fileContent/fileContent.lock
/.gradle/5.2.1/fileHashes/fileHashes.bin
/.gradle/5.2.1/fileHashes/fileHashes.lock
/.gradle/5.6.4/fileHashes/fileHashes.lock
/.gradle/5.2.1/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/5.2.1/javaCompile/javaCompile.lock
/.gradle/5.2.1/fileChanges/last-build.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/5.2.1/javaCompile/taskHistory.bin
.idea
*.iml
out
gen
target